# Supabase
SUPABASE_URL=https://dwuuthibpinxjxbftgnm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3dXV0aGlicGlueGp4YmZ0Z25tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQwNTE1NywiZXhwIjoyMDkyOTgxMTU3fQ.pL4eHUzLbonpuPDtFyWq0nez8fNdBjB502Yt1H-Qnrs

# Clerk
CLERK_SECRET_KEY=sk_test_E5t4XcZuzBONFEQav5OqaHgCHZkxO49HdehhUChiyh

# Game secrets
DAILY_SEED_SECRET=bc1c09868747843af4b84e9066e8f6d2479de00a451611157a3a9ed23d1a4794
SCORE_SECRET=abyssal-client-hash

# CORS
CORS_ORIGIN=*

# Server
NODE_ENV=production
PORT=4000
